@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Montserrat','sans-serif';
}

.custom{
    background: linear-gradient(90deg, rgba(255, 203, 124, 0.00) 0%, #FFCB7C 100%);
    mix-blend-mode: multiply; 
}

.custom img{
    height: 75%;
    
}



#cart{padding:0px;}
#cart .empty{
	font-style:italic;
	color:#a0a3ab;
	font-size:14px;
	letter-spacing:1px;	
    padding-left: 16px;

}

.make3D.animate .add_to_cart{
	opacity:1;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}

div.floating-cart{
	position:absolute;
	top:0;
	left:0; 
	width:192px;	
	height:256px;
	background:#fff;
	z-index:200;
	overflow:hidden;
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);
	display:none;
}

div.floating-cart .stats-container{display:none;}
div.floating-cart .product-front{width:100%; top:0; left:0;}
div.floating-cart.moveToCart{
	left: 75px !important;
	top: 55px !important;
	width: 47px;
	height: 47px;	
	-webkit-transition: all 800ms ease-in-out;
	   -moz-transition: all 800ms ease-in-out;
		-ms-transition: all 800ms ease-in-out;
		 -o-transition: all 800ms ease-in-out;
 		    transition: all 800ms ease-in-out; 
}
body.MakeFloatingCart div.floating-cart.moveToCart{	
	left: 90px !important;
	top: 140px !important;
	width: 21px;
	height: 22px;
	box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0);
	-webkit-transition: all 200ms ease-out;
	   -moz-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;
		 -o-transition: all 200ms ease-out;
 		    transition: all 200ms ease-out;
}
div.cart-icon-top{
	position:absolute;
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/cart.png") 0 -3px no-repeat;
	margin:0;
	width:21px;
	height:3px;
	z-index:1;
	top: 140px;
	left: 90px;
}
div.cart-icon-bottom{
	position:absolute;
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/cart.png") 0 -3px no-repeat;
	margin:0;
	width:21px;
	height:19px;
	z-index:1;
	top: 143px;
	left: 90px;
}
body.MakeFloatingCart div.cart-icon-top{z-index:30;}
body.MakeFloatingCart div.cart-icon-bottom{z-index:300;}	
.cart-item{	
	padding: 11px 0 5px 80px;
	height: fit-content;
	width: fit-content;
	position:relative;
	background:#fff;
	-webkit-transition: all 1000ms ease-out;
	   -moz-transition: all 1000ms ease-out;
		-ms-transition: all 1000ms ease-out;
		 -o-transition: all 1000ms ease-out;
 		    transition: all 1000ms ease-out;
}
.cart-item.flash{background:#fffeb0;}
.cart-item-border{
	position:absolute;
	bottom:0;
	left:45px;
	background:#edeff0;
	height: 1px;
	width: 230px;
}
.cart-item .img-wrap{
	width:50px; 
	height:50px; 
	overflow:hidden;
	border:1px solid #edeff0;
	float:left;
	margin-left:-65px;	
}
.cart-item img{width:100%; position:relative;top:-10px;}
.cart-item strong{color:#5ff7d2; font-size:16px; padding-top: 12px;}
.cart-item span{
	color: #393c45;
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding-right: 5px;
 }

.cart-item .delete-item{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/delete-item.png") 0 0 no-repeat;
	width:15px;
	height:15px;
	float:right;
	margin-right:18px;
	display:none;
}
.cart-item:hover .delete-item{display:block;cursor:pointer}


#info{
	position: absolute;
	top: 20px;
	left: 676px;
	text-align: center;
	width: 413px;

}
#info p{font-size:15px; padding:3px;color:#b1b1b3}
#info a{text-decoration:none;} 
#checkout{
	border: 2px solid #5ff7d2;
	font-size: 13px;
	font-weight: 700;
	padding: 3px 9px;
	color: #5ff7d2;
	display:none;
}

.product.large{
	width:639px;
	margin-bottom:25px;
	overflow:hidden;
	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		 -o-transition: all 500ms ease-in-out;
 		    transition: all 500ms ease-in-out;
}